body{
    margin:0;
}

h1{
    /*置中*/
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    
    font-size:40px;
    color:bisque;

    z-index:1;/*layer 1 覆蓋在影片之上*/

    animation:colorchange 10s infinite alternate;
}

.video-back{
    position: fixed;/*影片變全螢幕*/
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;

    z-index:0;/*Layer:最下面*/
}

@keyframes colorchange {
    0% {color: #418DCD;}
    10% {color: #17b473;}
    20% {color: #c65d20;}
    30% {color: #a341cd;}
    40% {color: #03965B;}
    50% {color: #e91748;}
    60% {color: #545C5E;}
    70% {color: #545C5E;}
    80% {color: #032596;}
    90% {color: #409603;}
    100% {color: #418DCD;}
      }
 
 @media (max-width:600px){
  h1{
      z-index:3;
      opacity:1;
      font-size:21px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* animation:colorchange 10s infinite alternate; */
      }
}

a{
    text-decoration: none;
}